
/*表格里的按钮样式*/
.table .btn {
    margin-left: 0;
    margin-right: 2px;
}

.table-bordered td{
    /*padding:0;*/
}

/*隐藏 开关组件里的单选框*/
.table-btn-make-switch .toggle{
    display: none;
}

/*设置 按钮或分组按钮 最小格式*/
.btn-group-xs>.btn, .btn-xs {
    padding: 1px 5px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
}

/*表格高级搜索*/
.kt-portlet.box-portlet--sticky .box--sticky {
    transition: height 0.3s;
    position: fixed;
    box-shadow: 0px 1px 15px 1px rgba(69, 65, 78, 0.1);
    z-index: 101;
    background: #fff;
}

/*右边内容页上下 padding*/
.use-kt-content{
    padding: 10px 0;
}
 /*右边内容页左右 padding*/
.use-kt-container{
    padding: 0 10px;
}

/*内容页内容框 padding*/
.use-kt-portlet__head{
    padding: 0 10px!important;
}
.use-kt-portlet__body{
    padding: 10px!important;
}
.use-card-title{
    padding-left: 50% !important;
}
.use-card-body{
    padding-left: 0 !important;
}

.accordion > .use-card{
    overflow:visible;
}

.use-kt-separator--border-dashed{
    border-bottom: 1px dashed #ebedf2;
}

.use-switch-radio{
    display: none;
}
/******************************************************多图上传*********************************************************/
.el-upload--picture-card {
    background-color: #fbfdff;
    border: 1px dashed #c0ccda;
    border-radius: 6px;
    box-sizing: border-box;
    width: 100px;
    height: 100px;
    cursor: pointer;
    line-height: 146px;
    vertical-align: top;
}

.el-upload {
    display: inline-block;
    text-align: center;
    cursor: pointer;
    outline: none;
}

.el-upload--picture-card:hover,.el-upload:focus {
    border-color: #409eff;
    color: #409eff
}

.el-upload--picture-card span {
    position:relative;
    top:-28%;
    left: -2%;
    font-size: 28px;
    color: #8c939d
}

input.el-upload-input {
    display: none;
}

.el-upload-list {
    margin: 0;
    padding: 0;
    list-style: none
}

.el-upload-list--picture-card {
    margin: 0;
    display: inline;
    vertical-align: top;
}

.el-upload-list--picture-card .el-upload-list-item {
    overflow: hidden;
    background-color: #fff;
    border: 1px solid #c0ccda;
    border-radius: 6px;
    box-sizing: border-box;
    width: 100px;
    height: 100px;
    margin: 0 8px 8px 0;
    display: inline-block;
}

.el-upload-list-item {
    transition: all .5s cubic-bezier(.55,0,.1,1);
    font-size: 14px;
    color: #606266;
    line-height: 5.8;
    margin-top: 5px;
    position: relative;
    box-sizing: border-box;
    border-radius: 4px;
    width: 100%;
}

.el-upload-list--picture-card .el-upload-list-item-thumbnail {
    width: 100px;
    height: 100px;
}

.el-upload-list--picture-card .el-upload-list-item-actions {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    cursor: default;
    text-align: center;
    color: #fff;
    opacity: 0;
    font-size: 18px;
    background-color: rgba(0,0,0,.5);
    transition: opacity .3s;
}

.el-upload-list--picture-card .el-upload-list-item-actions span {
    display: none;
    cursor: pointer;
}

.el-upload-list--picture-card .el-upload-list-item-actions .el-upload-list-item-delete {
    position: static;
    font-size: inherit;
    color: inherit;
}

.el-upload-list--picture-card .el-upload-list-item-actions span+span {
    margin-left: 7px;
}

.el-upload-list-item-delete {
    position: absolute;
    right: 10px;
    top: 0;
    font-size: 12px;
    color: #606266;
    display: none;
}

.el-upload-list--picture-card .el-upload-list-item-actions:hover {
    opacity: 1;
}

.el-upload-list--picture-card .el-upload-list-item-actions:hover span {
    display: inline-block;
}

/******************************************************表格*********************************************************/
.bootstrap-table {

}

/******************************************************静态文本*********************************************************/
.form-control-static {
    padding-top: 7px;
    padding-bottom: 7px;
    margin-bottom: 0;
    min-height: 34px;
}
