{extend name="$_admin_base_layout" /}

{block name="content"}
<div style="margin: 10px;">

    <div class="portlet light bordered">

        <div class="portlet-title">
            <div class="caption">
                {notempty name="return_url"}
                <a class="btn btn-circle btn-icon-only btn-grees" href="{$return_url}" title="返回">
                    <i class="fa fa-reply font-green"></i>
                </a> &nbsp;&nbsp;
                {/notempty}
                <span class="caption-subject font-green bold uppercase"> {$page_title} </span>
            </div>
        </div>

        {// 页面提示信息}
        {notempty name="explanation"}
        <div class="js-explanation margin-bottom-10">
            <div class="ex_tit">
                <i class="fa fa-lightbulb-o sc_icon"></i>
                <h4>操作提示</h4>
                <span class="explanationZoom">
                <i class="fa fa-minus"></i>
            </span>
            </div>
            <ul>
                {foreach name="explanation" item="explanation_v" key="explanation_k" }
                <li><i class="fa fa-caret-right text-info"></i>{$explanation_v}</li>
                {/foreach}
            </ul>
        </div>
        {/notempty}

        <div class="portlet-body form">
            <form class="form-horizontal" action="{$form_url}" enctype="multipart/form-data">
                {foreach name="form_hidden_data" item="form_data_value" key="form_data_key" }
                <input name="{$form_data_value.name}" value="{$form_data_value.value}" type="hidden">
                {/foreach}
                <div class="form-body">

                    <div class="form-group">
                        <label class="control-label col-md-3">选择商品：</label>
                        <div class="col-md-6">
                            <button type="button" class="btn btn-primary asdasd">选择商品</button>
                            <span class="help-block">点击选择你需要推荐的商品</span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-3">商品：</label>
                        <div class="col-md-6">
                            <div class="el-frame">

                                <div class="row goods-html">

                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="form-actions">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-offset-3 col-md-9">
                                    {notempty name="_submit_button_show"}
                                    <button type="button" class="btn green form-submit">提交</button>
                                    {/notempty}
                                    {notempty name="_button_button_show"}
                                    <button type="reset" class="btn default">重置</button>
                                    {/notempty}
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6"></div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

{/block}

{block name="page_script"}
<script>
    $(function () {

        var use_data = {$use_data | raw
    }
        ;

        var ids_data = {$ids | raw
    }
        ;

        var createGoodsHtml = function (goods_arr) {

            var html = '';
            $.each(goods_arr, function (i, v) {
                html += ' <div class="col-sm-6 col-md-3">' +
                    '<div class="el-frame-thumbnail">' +
                    '<div class="el-frame-thumbnail-img">' +
                    '<img src="' + v.goods_image + '" alt="">' +
                    '</div>' +
                    '<div class="clearfix margin-bottom-10"></div>' +
                    '<div class="el-frame-thumbnail-name font-blue-sharp bold uppercase">' + v.goods_name + '</div>' +
                    '<div class="clearfix margin-bottom-10"></div>' +
                    '<div class="el-frame-thumbnail-price">' +
                    '<span class="caption-subject font-red-mint bold uppercase">¥ ' + v.goods_price + '</span>' +
                    '</div>' +
                    '<div class="clearfix margin-bottom-10"></div>' +
                    '<div class="el-frame-thumbnail-bt">' +
                    '<a href="javascript:;" class="btn btn-xs blue"> 删除 </a>' +
                    '</div>' +
                    '</div>' +
                    '</div>';

            });
            $('.goods-html').append(html);

        }

        createGoodsHtml(use_data);

        $('.asdasd').click(function () {
            base.variableParent = [];
            $.ajax({
                type: 'POST',
                url: "{:url('b2b2c/goods/choice')}",//发送请求
                data: {action: 'tp', goods_id: ids_data},
                dataType: "html",
                success: function (result) {
                    var htmlCont = result;//返回的结果页面
                    layer.open({
                        type: 1,
                        title: '商品选择',
                        shade: false,
                        maxmin: true, // 开启最大化最小化按钮
                        scrollbar: false,
                        area: ['100%', '100%'],
                        btn: ['确定'], //可以无限个按钮
                        btn1: function (index, layero) {
                            console.log(base.variableParent);
                            layer.closeAll();
                        },
                        content: htmlCont, //iframe的url，no代表不显示滚动条
                    });
                }
            });
        });


    });
</script>
{/block}
