{extend name="$_admin_base_layout" /}

{block name="page_css"}
<link href="__GLODAL_PLUGINS__/jquery-nestable/jquery.nestable.css?v={:config('asset_version')}" rel="stylesheet" type="text/css" />
{/block}

{block name="content"}


<div class="row">
    <div class="col-lg-12">
        <!--begin::Portlet-->
        <div class="kt-portlet">
            <div class="kt-portlet__head">
                <div class="kt-portlet__head-label">
                    <h3 class="kt-portlet__head-title">
                        模块排序
                    </h3>
                </div>
            </div>
            <!--begin::Form-->
            <div class="kt-portlet__body">

                {// 开始 分组标签}
                <ul class="nav nav-tabs nav-tabs-line nav-tabs-bold nav-tabs-line-3x nav-tabs-line-brand">
                    {foreach name="tab_nav['tab_list']" item="group_value" key="group_key"}
                    <li class="nav-item">
                        <a class="nav-link" href="{$group_value.url}">
                        <l class="{$group_value.ico}"></l>
                        {$group_value.title|htmlspecialchars}
                        </a>
                    </li>
                    {/foreach}
                    <li class="nav-item">
                        <a class="nav-link active" href="{:url('', ['group' => 'module-sort'])}">
                            <l class="fab fa-gitter"></l>
                            模块排序
                        </a>
                    </li>
                </ul>
                {// 结束 分组标签}

                <div class="kt-section kt-section--first">
                    <div class="tab-content">
                        <div class="tab-pane active" role="tabpanel">
                            {notempty name="modules"}
                            <form action="{:url('')}" method="post" class="sort-form">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div id="sortable" class="connectedSortable push-20">
                                            {volist name="modules" id="module"}
                                            <div class="btn btn-secondary btn-hover-brand sortable-item pull-left" style="margin-right: 10px">
                                                <input type="hidden" name="sort[]" value="{$key}">
                                                <i class="{$module.icon}"></i> {$module.title}
                                            </div>
                                            {/volist}
                                        </div>
                                    </div>
                                </div>
                            </form>
                            {/notempty}
                        </div>
                    </div>
                </div>
            </div>
            <div class="kt-portlet__foot">
                <div class="kt-form__actions">
                    <button type="button" class="btn btn-primary save">保存排序</button>
                </div>
            </div>
            <!--end::Form-->
        </div>
        <!--end::Portlet-->
    </div>
</div>
{/block}

{block name="page_script"}
<script src="__GLODAL_PLUGINS__/jquery-nestable/jquery.nestable.js?v={:config('asset_version')}"></script>
<script src="__GLODAL_PLUGINS__/jquery-ui/jquery-ui.min.js?v={:config('asset_version')}"></script>
<script>
    $(document).ready(function(){

        // 模块拖拽
        $( "#sortable" ).sortable({
            connectWith: ".connectedSortable"
        }).disableSelection();

        // 保存节点
            $('.save').click(function(){

                var formData = $('.sort-form').serializeArray();

                Base.funLoad();

                $.post("{:url('')}",formData, function(data) {
                    Base.funUnLoad();
                    if (data.code) {
                        $('#save').removeClass('btn-success').addClass('btn-default disabled');
                        Base.funMessage(data.msg);
                    } else {
                        Base.funMessage(data.msg,'error');
                    }
                });
        });

    });
</script>
{/block}
